@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans:ital,wght@0,400;1,700;1,800&family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
}

/* header style start  */

header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 120px;
}

/* Left section styles */
.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.title {
  color: #0b0223;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
}

.title span {
  color: #ff42a5;
}

/* Right section styles */
.right-section {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.social-icons {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 8px;
}

.social-icons p {
  color: #3c354f;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.followIcon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
/* header style end  */

/* banner section */
.banner-section {
  background-color: #fff;
}

.banner-container {
  display: flex;
  justify-content: space-between;

  /* margin: 0 120px; */
}

.banner-left-section {
  flex: 1;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-image: url("../assets/img/Group\ 14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.leftContentBanner {
  margin-left: 130px;
}

.banner-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
}
.banner-title2 {
  font-size: 55 px;
  font-weight: 800;
  margin-bottom: 10px;
  display: flex;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description {
  font-size: 18px;
  margin-bottom: 30px;
}
.icon-text {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.bannerIconText {
  color: #534c64;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  margin-left: 8px;
}
.banner-buttons {
  margin-top: 30px;
}

.button-sign-in {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #ff42a5;
  border-radius: 40px;
  margin-right: 10px;
}
.button-go-rogue {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #4ec5f7;
  border-radius: 40px;
  margin-right: 10px;
}

/* .button.sign-in {
  background-color: #ff4500;
} */

/* .right-section {
  flex: 1;
} */

.banner-image {
  width: 70%;
}
/* we are gamer section */
.we-are-gammer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  align-items: center;
  padding: 0 100px 0 40px;
  gap: 20px;
}
/* .we-are-gammer-img{
  width: 100%;
} */
.gamer-dis{
  color: #534c64;
  font-size: 0.8rem;
  font-weight: 400;

}
.banner-title3{
 padding-left: 160px;
 padding-bottom: 20px;
  font-size: 55 px;
  font-weight: 800;
  display: flex;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rightside-we-are-gamear{
  text-align: right;
  padding-left: 150px;
}
.button-gamer{
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #ff42a5;
  border-radius: 40px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  

}
.bold{
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 15px;
}


/* online funny games section start */
.sectiontopcontant{
  text-align: center;
}

.online-gamer-title{
   font-weight: 800;
   background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}
.cardcontainer{
  display: flex;
  gap: 5px;
  justify-content: space-around;
}
.box-1 p{
  text-align: left;
}


/* play instantly section */


span{
  color: #f948b2;
}
.mycontant{
/* padding-left: 400px;
padding-top: 300px; */
}

.mycontant h1{
  font-size: 40px;
}
.aniversarysection{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* background-color: #4ec5f7; */
}
.parentimages{
  width: 80%;
  /* padding-right: 100px; */
  height: 100%;
  /* position: absolute; */
}
.childimg{
  /* border: 8px solid #fff; */
 /* height: 250px;
 width: 200px; */
 width: 30%;
 height: 250px;
 border-radius: 10px;
}
.subimages{
position: relative;
bottom: 180px;
right: 80px;
}
.text-contant{
 /* background-color: red; */
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}

.image-container{
  /* background-color: #4ec5f7; */
  flex: 1;
}

/* malti button section */
.btn{
display: flex;
align-items: center;
}
.btnimg{
  height: 25px;
  width: 20px;
}
.btnmalti{
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 40px;
  
}
.maltipagecolor{
 /* text-align: center; */
 /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
 background-color: #f948b2;
  
}
.btn-contanir{
text-align: center;
}
.category{
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
 
}
.category-item:hover{
  border: 1px solid #ff42a5;
}

.category-item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  /* border: 1px solid #ccc; */
background-color: #ffffff;
border-radius: 40px;

  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
}

.category-item img {
  max-width: 100%;
  height: auto;
  width: 40px;
  height: 40px;
  /* display: block; */
  margin: 0 auto;
}

.category-item p {
  margin-top: 10px;
}

/* Media query for tablet and larger devices */

@media screen and (min-width: 768px) {
  .category-item {
    flex-basis: calc(30% - 20px);
  }
}

/* Media query for laptop and larger devices */

@media screen and (min-width: 1024px) {
  .category-item {
    flex-basis: calc(22% - 20px);
  }
}



/* footer seation  */
.top-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bg{
 background-color: #0b0223;
}
.footerG{
  color: #ff42a5;
}
.footeramer{
  color: #ffffff;
}
.footerdes{
  color: #fff;
  display: flex;
  justify-content: center;

}
.footerdes ul{
  display: flex;
  text-align: center;
  gap: 20px;

}
.footerdes li{
  list-style: none;


}
.social-iconsfooter{
  display: flex;
justify-content: center;
  border-radius: 8px;
 gap: 20px;
  padding: 8px;
}
.footerdes2{
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  display: flex;
  justify-content: center;
}
.footerdes2 ul{
  display: flex;
  text-align: center;
  gap: 20px;

}
.footerdes2 li{
  list-style: none;}

  .boxImg{
    height: 200px;
    width: 100%;
  }




























@media screen and (max-width: 576px) {
  .header-container {
    flex-direction: column;
    gap: 20px;
  }
  .right-section {
    flex-direction: column;
    gap: 20px;
  }
  nav ul {
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-left-section {
    background-size: contain;
    width: 100vw;
    padding-left: 10px;
    padding-top: 20px;
    background-position: center;
    padding-bottom: 30px;
  }
  .bannerIconText {
    font-size: 10px;
  }
  .banner-buttons {
    margin-left: 5px;
    margin-top: 10px;
  }
  .button-sign-in {
    font-size: 10px;
  }
  .button-go-rogue {
    font-size: 10px;
  }
  .right-section1 {
    display: block;
    width: 100vw;
    padding-left: 100px;
  }
  .we-are-gammer{
    background: none;
    flex-direction: column;
    gap: 20px;
  }
  .we-are-gammer img{
    width: 130%;
    /* padding-left: 20px; */
    margin-top: 20px;

  }
  .rightside-we-are-gamear{
    text-align: center;
    padding-left: 70px;
  }
  .banner-title3{
    padding: 0;
    margin: 25px;
  }
  .bold{
font-size:13px;
  }
  .cardcontainer{
    flex-direction: column;
    padding-left: 50px;
  }
  .box-1 p{
    text-align: center;
    color: #534c64;
  }
  .parentimages {
    position: absolute;
    padding-left: 111px;
    width: 89%;
    height: 300px;
}
  .text-contant{
    padding: 0;
  }
  .aniversarysection{
    flex-direction: column;
  }
  .childimg{
    margin-top: 367px;
    height: 165px;
    width: 132px;
    margin-left: 135px;
    border: none;
  }
  .mycontant{
    padding: 0 0 0 70px;
    text-align: center;
  }
  .footerdes ul {
    display: grid;
    text-align: center;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);}

    .footerdes2 ul {
      display: grid;
      text-align: center;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);}
      
  

      .social-iconsfooter {
        display: grid;
        justify-content: center;
        border-radius: 8px;
        gap: 10px;
      padding-left: 80px;
        grid-template-columns: repeat(3, 1fr);
      }
      .category-item:hover{
        border: 1px solid #ff42a5;*!important
      }


}




@media screen and (min-width:576px)  and (max-width:992px) {

  .header-container {
    flex-direction: column;
    gap: 20px;
  }
  .right-section {
    flex-direction: column;
    gap: 20px;
  }
  nav ul {
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-left-section {
    background-size: contain;
    width: 100vw;
    padding-left: 10px;
    padding-top: 20px;
    background-position: center;
    padding-bottom: 30px;
  }
  .bannerIconText {
    font-size: 10px;
  }
  .banner-buttons {
    margin-left: 5px;
    margin-top: 10px;
  }
  .button-sign-in {
    font-size: 10px;
  }
  .button-go-rogue {
    font-size: 10px;
  }
  .right-section1 {
    display: block;
    width: 100vw;
    padding-left: 100px;
  }
  .we-are-gammer{
    background: none;
    flex-direction: column;
    gap: 20px;
  }
  .we-are-gammer img{
    width: 130%;
    /* padding-left: 20px; */
    margin-top: 20px;

  }
  .rightside-we-are-gamear{
    text-align: center;
    padding-left: 70px;
  }
  .banner-title3{
    padding: 0;
    margin: 25px;
  }
  .bold{
font-size:13px;
  }
  .cardcontainer{
    flex-direction: column;
    padding-left: 50px;
  }
  .box-1 p{
    text-align: center;
    color: #534c64;
  }
  .parentimages {
    position: absolute;
    padding-left: 111px;
    width: 89%;
    height: 300px;
}
  .text-contant{
    padding: 0;
  }
  .aniversarysection{
    flex-direction: column;
  }
  .childimg{
    margin-top: 367px;
    height: 165px;
    width: 132px;
    margin-left: 135px;
    border: none;
  }
  .mycontant{
    padding: 0 0 0 70px;
    text-align: center;
  }
  .footerdes ul {
    display: grid;
    text-align: center;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);}

    .footerdes2 ul {
      display: grid;
      text-align: center;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);}
      
  

      .social-iconsfooter {
        display: grid;
        justify-content: center;
        border-radius: 8px;
        gap: 10px;
      padding-left: 80px;
        grid-template-columns: repeat(4, 2fr);
      }
      .category-item:hover{
        border: 1px solid #ff42a5;*!important
      }


  
}